@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row:before,
.row:after {
    content:"";
    display: table ;
    clear: both;
}
[class*="col-"] {
    float: left;
    width: 100%;
    padding: 12px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#board h1{
    text-align: center;
}
h1 + button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 15px;
}
.column {
    width: 33.33%;
    float: left;
    min-height: 300px;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
}
.column h2 {
    text-align: center;
}
.row {
    min-height: 100%;
}
.column-card-list {
    background-color: aqua;
}
.column button {
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
}
.column ul button {
    display: inline-block;
}
.column ul p {
    display: inline;
}
.column ul {
    min-height: 50px;
}